.Dictionary input {
  width: 100%;
  padding: 15px 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: none;
  color: #333;
}

.Dictionary section {
  background-color: white;
  padding: 30px;
  margin: 20px 0;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  border-radius: 6px;
}
